.range-slider-container {
  width: 100%;
  max-width: 100vw;
  padding: 0 16px; /* או כל ערך שמתאים עבור המרווח הרצוי */
}

.range-track {
  height: 6px;
  width: 100%; /* Ensure the track takes the full width */
  border-radius: 0;
  overflow: hidden;
  background: black;
}
.slider-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}
.range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: black;
  outline: none;
}

.range-output {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.grid-background {
  background-image: linear-gradient(to right, #e0e0e0 1px, transparent 1px),
    linear-gradient(to bottom, #e0e0e0 1px, transparent 1px);
  background-size: 40px 40px;
  width: 100%;
  height: calc(100%);
}

.timeline-container {
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Ensure content does not wrap */
  display: flex;
  flex-direction: column;
}

