/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100% !important;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; /* Ensure positioning relative to the parent container */
}

.timeline-container {
  overflow-x: hidden; /* Disable horizontal scrolling */
  overflow-y: hidden; /* Disable vertical scrolling */
  white-space: nowrap; /* Ensure content does not wrap */
  height: calc(100vh - 20px); /* Adjust height to fit within viewport */
  display: flex;
  flex-direction: column;
}

.slider-container {
  width: 100%; /* Ensure the container takes the full width */
  display: flex;
  top: -66px;
  padding-left: 30rem;
  justify-content: center;
  background: transparent;
  position: relative;
  padding: 20px 0; /* Add some vertical padding */
  z-index: 1;
}
